* {
    margin: 0;
    padding: 0;
}

.top, .features, .services {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.header__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.link_home {
    color: #F25822;
}

.top__content {
    margin-top: 95px;
    margin-bottom: 162px;
    display: flex;
    justify-content: center;
    gap: 41px;
    flex-wrap: wrap;
}

.top_info {
    margin-top: 101px;
    width: 522px;
}

.title {
    margin-bottom: 17px;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}

.text {
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content__image {
    margin-top: 10px;
}

.top_buttons {
    display: flex;
    flex-direction: row;
    gap: 72px;
    margin-top: 37px;
}

.button {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 35px;
    border: 0;
}

.button_start {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.button_link_white {
    color: #FFF;
}

.button_no_borders {
    background: none;
}

.button_link_grey {
    color: #AAA;
}

.top_logos {
    background: rgb(244, 240, 240);
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.features {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.feature_box {
    width: 370px;
    padding: 28px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.feature_box_center {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.feature_title {
    margin-top: 25px;
    margin-bottom: 17px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.feature_text {
    padding-bottom: 25px;
    color: #666;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.feature_link {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.services {
    padding-top: 92px;
    padding-bottom: 100px;
    background: #FAFAFA;
}

.services__title {
    margin-bottom: 19px;
    text-align: center;
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services__text {
    padding-left: calc(50% - 380px);
    padding-right: calc(50% - 380px);
    margin-bottom: 55px;
    text-align: center;
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.services__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 370px);
    gap: 30px;
    justify-content: center;
}

.item {
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.item__center {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.item__title {
    margin-bottom: 22px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item__text {
    margin-bottom: 39px;
    color: #AAA;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.item__button {
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
    border: 0;
}

/* вес шрифтов: 
regular: 400
medium 500 
semi-bold 600
bold 700 */