* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.center_wide {
    padding-right: calc(50% - 800px);
    padding-left: calc(50% - 800px);
}

.top {
    /* overflow: hidden; */
    position: relative;
}

.header {
    max-height: 75px;
    display: flex;
    padding-top: 18px;
    padding-bottom: 19px;
    background: #222222;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header label {
    cursor: pointer;
}

.header__left {
    display: flex;
    gap: 41px;
    align-items: center;
}

.header__right {
    display: flex;
    gap: 33px;
    align-items: center;
}

.header__cart {
    position: relative;
    left: 0;
}

.header__cart__counter {
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url(image/cart_ellipse.svg);
    background-size: cover;
    top: -25%;
    left: 75%;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: white;
    z-index: -1;
}

.header__cart:hover .header__cart__counter {
    z-index: 2;
}

.header__check {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.header__check:checked~.menu {
    right: 0;
}

.menu {
    position: absolute;
    top: 75px;
    right: -232px;
    z-index: 1;
    transition: right 1s;
    padding: 32px 32px 32px;
    background-color: #FFF;
    width: 232px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    box-sizing: border-box;
}

.menu__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.menu__general__title {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.menu__general {
    gap: 20px;
}

.menu__detail__title {
    color: #F16D7F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__detail {
    padding-left: 21px;
    gap: 11px;
    margin-top: 12px;
}

.menu__link {
    color: #6F6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 11px;
}

.top__content {
    display: flex;
    align-items: center;
    background: #F1E4E6;
    margin-bottom: 65px;
    gap: 63px 16px;
}

.top__image {
    width: 50%;
}

.top__titles {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.top__title {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
}

.top__subtitle {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}

.color_subtitle {
    color: #F16D7F;
}

.offer {
    margin-bottom: 96px;
    background: #FFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.offer__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: #000 1px;
    background-size: cover;
    background-position: center;
}

.item {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item1 {
    background-image: url(image/women.png);
}

.item2 {
    background-image: url(image/men.png);
}

.item3 {
    background-image: url(image/kids.png);
}

.item_wide {
    grid-column: span 3;
    background-image: url(image/accesories.png);
}

.item_text_2row {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.products {
    margin-bottom: 95px;
}

.products__title {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 6px;

}

.products__subtitle {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.products__content {
    margin-top: 48px;
    margin-bottom: 63px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.product__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: #F8F8F8;
    position: relative;
}

.product__foto {
    margin-bottom: 24px;
    transition: filter .35s ease;
}

.product__button {
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 11px 16px 9px 14px;
    border: solid white;
    border-width: thin;
    display: flex;
    align-items: center;
    gap: 11px;
    background-color: transparent;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
    transition: opacity .35s ease;
}

.product__item:hover .product__foto {
    filter: brightness(40%);
}

.product__item:hover .product__button {
    opacity: 1;
}

.product__name {
    margin-bottom: 12px;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__text {
    margin-bottom: 18px;
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.product__price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.browse__button {
    max-width: 212px;
    text-align: center;
    display: block;
    margin: auto;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    color: #F26376;
    background: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.browse__button:hover {
    border: 1px solid #FF6A6A;
    color: #FFFFFF;
    background: #F16D7F;
}

.advantages {
    padding-top: 103px;
    padding-bottom: 104px;
    background: #222224;
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
}

.advantages__title {
    margin-top: 28px;
    margin-bottom: 15px;
    color: #FBFBFB;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.advantages__text {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.subscribe {
    background-image: url(image/photo_subscribe.png);
    display: flex;
}

.subscribe__item {
    width: 50%;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 156px;
}

.subscribe__item_left {
    margin-top: 97px;
    margin-bottom: 126px;
}

.subscribe__item__foto {
    display: block;
    margin: auto auto 30px;
}

.subscribe__quote {
    max-width: 359px;
    margin: auto;
    color: #222224;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.subscribe__title {
    color: #222224;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
    margin-bottom: 28px;
}

.subscribe__text {
    font-size: 18px;
    font-weight: 400;
}

.subscribe__form {
    display: flex;
    justify-content: center;
}

.input__email {
    background-color: #E1E1E1;
    height: 49px;
    border: 0 #E1E1E1;
    border-radius: 100px 15px 15px 100px;
    padding-left: 22px;
    color: #222224;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe__button {
    height: 49px;
    background-color: #F16D7F;
    border: 0 #F16D7F;
    border-radius: 15px 100px 100px 15px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8px;
    padding-right: 8px;
}

.subscribe__button:hover {
    background-color: #f2465d;
}

.footer {
    display: flex;
    background-color: #222224;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.footer__brand {
    color: #FBFBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__links {
    display: flex;
    gap: 7px;
}

.footer__icon:hover .path1 {
    fill: #F16D7F;
}

.footer__icon:hover .path2 {
    fill: #FFFFFF;
}

/* для планшета */
@media (max-width: 1025px) {
    .center {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }

    .center_wide {
        padding-right: calc(50% - 335px);
        padding-left: calc(50% - 335px);
    }

    .header {
        padding: 18px 0 19px 0;
        justify-content: space-around;
        gap: 20vw;
    }

    .header__right {
        gap: 25px;
    }

    .top__content {
        gap: 39px 16px;
    }

    .top__title {
        font-size: 44px;
    }

    .top__subtitle {
        font-size: 24px;
    }

    .offer {
        margin-bottom: 110px;
        gap: 19px;
        grid-template-rows: 168px 116px;
    }

    .products {
        margin-bottom: 64px;
    }

    .products__title {
        margin-bottom: 3px;
    }

    .products__content {
        margin-top: 73px;
        margin-bottom: 32px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .advantages {
        padding: 48px calc(50% - 180px) 64px;
        flex-direction: column;
        gap: 48px;
    }

    .advantages__title {
        margin-top: 25px;
        margin-bottom: 16px;
    }

    .subscribe {
        flex-direction: column;
        align-items: center;
        gap: 48px;
        background-size: cover;
        padding: 64px calc(50% - 278px) 140px;
    }

    .subscribe__item {
        margin: auto;
        width: auto;
    }
}

/* Для мобильного устройства*/

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        gap: 15vw;
    }

    .top__content {
        display: grid;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
    }

    .top__image {
        /* position: absolute;
            z-index: -1;
            opacity: 0; */
        display: none;
    }

    .top__titles {
        margin-top: 148px;
        margin-bottom: 148px;
    }

    .top__title {
        font-size: 38px;
    }

    .top__subtitle {
        font-size: 20px;
    }

    .offer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 248px) 111px;
    }

    .item_wide {
        grid-column: auto;
    }

    .products {
        margin-bottom: 96px;
    }

    .products__content {
        margin-top: 64px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .product__foto {
        width: 100%;
    }

    .advantages {
        padding: 48px calc(50% - 174px) 81px;
        gap: 46px;
    }

    .advantages__title {
        margin-top: 18px;
        margin-bottom: 14px;
    }

    .subscribe {
        padding: 64px calc(50% - 171px) 109px;
        gap: 59px;
    }

    .subscribe__item {
        margin: auto 0;
    }

    .subscribe__title {
        margin-bottom: 22px;
        line-height: 90%;
    }

    .subscribe__text {
        font-size: 14px;
    }

    .subscribe__button {
        height: 47px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .input__email {
        height: 47px;
    }
}